<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Registration.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="container mx-auto mt-4">
        <div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
            <div class="flex-none px-2 mx-2">
                <span class="text-lg font-bold">
                        Registration
                    </span>
            </div> 
            <div class="flex-1 px-2 mx-2">
                <div class="items-stretch hidden lg:flex">
                <a asp-controller="Course" asp-action="Index" class="btn btn-ghost btn-sm rounded-btn">
                        Courses
                        </a>
                </div>
            </div> 
        </div>
    </header>

    <div class="container mx-auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="container mx-auto">
        <div class="p-4 footer bg-neutral text-neutral-content footer-center rounded-box">
            <p>ITEC 6410 - Fall 2021</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
