@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
    <div class="flex-none px-2 mx-2">
        <span class="text-lg font-bold">
            University Registration System
        </span>
    </div> 
    <div class="flex-1 px-2 mx-2">
        <div class="items-stretch hidden lg:flex">
            <a asp-controller="Course" asp-action="Index" class="btn btn-ghost btn-sm rounded-btn">Courses</a>
        </div>
        @if ((await AuthorizationService.AuthorizeAsync(User, "Staff")).Succeeded)
        {
            <div class="items-stretch hidden lg:flex">
                <a asp-controller="Report" asp-action="Index" class="btn btn-ghost btn-sm rounded-btn">Report</a>
            </div>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, "Student")).Succeeded)
        {
            <div class="items-stretch hidden lg:flex">
                <a asp-controller="Schedule" asp-action="Index" class="btn btn-ghost btn-sm rounded-btn">Schedule</a>
            </div>
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="flex-1 flex-none">
            <div class="form-control">
                @User.Identity.Name
            </div>
        </div>
        <div class="flex-none">
            <div class="form-control ml-4">
                <a asp-action="Logout" asp-controller="Account" class="btn btn-ghost">Logout</a>
            </div>
        </div>
    } else
    {
        <form asp-action="Login" asp-controller="Account">
            <div class="flex-1 flex-none">
                <div class="form-control">
                    <input type="text" name="username" placeholder="Username" class="input input-ghost">
                </div>
            </div>
            <div class="flex-none">
                <div class="form-control ml-4">
                    <input type="password" name="password" placeholder="Password" class="input input-ghost">
                </div>
            </div>
            <div class="flex-none">
                <div class="form-control ml-4">
                    <input type="submit" value="Login" class="btn btn-ghost" />
                </div>
            </div>
        </form>
    }
</div>
