@model IEnumerable<Registration.Models.Schedule>

@{
    ViewData["Title"] = "Schedule";
}

<div class="grid grid-cols-3 rounded-box shadow-lg">
    <div class="card col-span-2">
        <div class="card-body">
            <div class="card-title">Detailed Schedule</div>
            <table class='table-fixed''>  
                <tr>  
                    <th>Id</th>  
                    <th>Course</th>
                    <th>Description</th>
                </tr>  
                
              @*  @foreach (var s in Model)  
                {  
                    <tr>  
                        <td>@s.Id</td>  
                        <td>@s.Course</td>  
                        <td>@s.Description</td>  

                        <td class="text-right">
                          <a class="btn btn-sm" asp-action="Drop" asp-route-id="@s.Id">Drop Course</a>
                        </td>

                    </tr>  
                }  *@
            </table>  
        </div>
    </div>
</div>