@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

  <div class="grid grid-cols-2 rounded-box shadow-lg">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Login</div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">UserName:</span>
                    </label>
                    <input type="text" name="Username" placeholder="Username" class="input input-bordered" />
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="text" name="Password" placeholder="Password" class="input input-bordered" />
                </div>

                <br />
                <br />

                <div class="form-control">
                  <input type="submit" value="Login" class="btn btn-primary" />
                </div>

      </div>
    </div>        
  </div>
</div>



