@model Registration.Models.CourseViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="grid grid-cols-2 rounded-box shadow-lg">
    <div class="card">
        <div class="card-body">
            <div class="prose max-w-none mb-4">
                <h2 class="card-title">Add Course</h2>
            </div>
            <form asp-action="Create">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Course Number</span>
                    </label>
                    <input asp-for="Course.CourseNumber" class="input input-bordered" />
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Name</span>
                    </label>
                    <input asp-for="Course.Name" class="input input-bordered" />
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Department</span>
                    </label>
                    <select asp-for="Course.DepartmentId" asp-items="Model.Departments" class="select select-bordered w-full max-w-xs">
                    </select>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Description</span>
                    </label>
                    <textarea asp-for="Course.Description" class="textarea textarea-bordered"></textarea>
                </div>
                <div class="divider"></div>
                <div class="flex">
                    <div class="flex-1">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>

                    <div class="flex-none">
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
