@model Registration.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<div class="grid rounded-box shadow-lg">
    <div class="card">
        <div class="card-body">
            <div class="prose max-w-none mb-4">
                <h2 class="card-title">
                    @Model.FullCourseNumber() - @Model.Name
                </h2>
                <p>Are you sure you want to delete this?</p>
            </div>
            <div class="card-actions">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="CourseId" />
                    <input type="submit" value="Delete" class="btn btn-primary" />
                </form>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>